.mainContainer {
  display: flex;
  width: 100%;
  /* position: relative; */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.contentContainer {
  max-width: 1000px;
  width: 100%;
  height: 2000px;
  background-color: #1565df;
}

.navbar {
  width: 100%;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .contentContainer {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media (max-width: 768px) {
  .contentContainer {
    padding-left: 30px;
  }
}
