.mainContainer {
  display: flex;
  width: 100%;
  /* position: relative; */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.contentContainer {
  max-width: 1000px;
  width: 100%;
  padding-top: 100px;
}

.navbar {
  width: 100%;
}

.docsSection {
  margin-top: 80px;
}

.docsSection:first-child {
  width: 50%;
}

.header {
  color: #1565df;
  margin-bottom: 20px;
  font-size: 1.8rem;
}

.docsSection p {
  color: #6e6e6e;
  text-align: justify;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .contentContainer {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media (max-width: 768px) {
  .contentContainer {
    padding-left: 30px;
  }
}
