.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* Banner styles ===================== */
.container {
  max-width: 1000px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.docContainer {
  max-width: 1000px;
  width: 100%;
  margin-bottom: 100px;
}

.docContainer p {
  color: #7b7b7b;
  text-align: justify;
  margin: 5px 0;
}

.textContainer {
  display: flex;
  padding-right: 35px;
  flex-direction: column;
}

.textContainer h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.textContainer p {
  color: #7b7b7b;
  font-size: 1rem;
  font-weight: 200;
  margin-bottom: 20px;
}

.btns {
  display: flex;
}

.docsAnchor,
.coffeeAnchor {
  padding: 16px 20px;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  margin-right: 10px;
  margin-bottom: 10px;
  transition: all 0.2s ease;
}

.docsAnchor {
  background-color: #1565df;
  color: #fff;
}

.coffeeAnchor {
  background-color: #93c5fd;
  color: #ffff;
  cursor: pointer;
}

.coffeeAnchor img {
  bottom: 12px !important;
}

.coffeeAnchor:hover,
.docsAnchor:hover {
  transform: scale(1.025);
}

.docHeader {
  color: #1565df;
  font-size: 2rem;
  margin-bottom: 10px;
}

.docText {
  color: #7b7b7b;
  margin-bottom: 100px !important;
  text-align: justify;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .container {
    padding-left: 100px;
    padding-right: 100px;
  }
  .docContainer {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media (min-width: 768px) and (max-width: 1000px) {
  .btns {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 50px 30px;
    padding-bottom: 0;
    margin-bottom: 50px;
  }

  .docContainer {
    flex-direction: column;
    padding: 50px 30px;
    padding-bottom: 0;
    margin-bottom: 50px;
  }
  .btns {
    flex-direction: column;
  }
}
