@font-face {
  font-family: dana;
  font-weight: normal;
  src: url('/assets/fonts/dana/dana-fanum regular.eot');
  src: url('/assets/fonts/dana/dana-fanum regular.eot?#iefix')
      format('embedded-opentype'),
    url('/assets/fonts/dana/dana-fanum regular.woff') format('woff'),
    url('/assets/fonts/dana/dana-fanum regular.ttf') format('truetype'),
    url('/assets/fonts/dana/dana-fanum regular.woff2') format('woff2');
}

@font-face {
  font-family: dana;
  font-weight: bold;
  src: url('/assets/fonts/dana/dana-fanum bold.eot');
  src: url('/assets/fonts/dana/dana-fanum bold.eot?#iefix')
      format('embedded-opentype'),
    url('/assets/fonts/dana/dana-fanum bold.woff') format('woff'),
    url('/assets/fonts/dana/dana-fanum bold.ttf') format('truetype'),
    url('/assets/fonts/dana/dana-fanum bold.woff2') format('woff2');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: dana, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-moz-selection {
  color: #fff;
  background: #1565df;
}

::selection {
  color: #fff;
  background: #1565df;
}
